:root {
  --header-height: 72px;
  --xxs: 400px;
  --xs: 576px;
  --sm: 767px;
  --md: 830px;
  --lg: 1024px;
  --xl: 1279px;
  --xxl: 1536px;

  @media (max-width: 1279px) {
    --header-height: 72px;
  }
  @media (max-width: 767px) {
    --header-height: 54px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  position: relative;
}

html {
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: contents;
}

ul,
li {
  list-style: none;
}

.containerHeader {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 60px;
  @media (max-width: 1536px) {
    padding: 0 32px;
  }
  @media (max-width: 1279px) {
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 1536px) {
    max-width: 1216px;
  }
  @media (max-width: 1279px) {
    max-width: 767px;
  }
  @media (max-width: 1024px) {
    max-width: 767px;
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 0 16px;
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.no-scroll {
  overflow: hidden !important;
}
.events-none {
  pointer-events: none;
  touch-action: none;
}
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.display-enter {
  opacity: 0;
}
.display-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.display-exit {
  opacity: 1;
}
.display-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
#calendly-model-wrapper .calendly-popup {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}
#calendly-model-wrapper .calendly-overlay .calendly-popup-close {
  right: 50px;
  @media screen and (max-width: 976px) {
    right: 25px;
  }
}
//.content-wrapper-homepage {
//  display: contents;
//}
